[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pydicom = "*"
matplotlib = "*"
jupyter = "*"
timm = "*"
tqdm = "*"
memory-profiler = "*"
nibabel = "*"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.9"
